<!-- Страница помощи -->

@{
	ViewData["Title"] = "Справка";
}

<div>

	<h2>Справка</h2>

	&emsp;&emsp;Для добавления элемента в реестр нажмите на <b>"Добавить"</b> и введите необходимые данные товара в открывшуюся форму.
	Изначально она будет заполнена стандартными данными. Для продолжения нажмите "ОК", для отмены - "Отмена"<br />

	&emsp;&emsp;Для изменения элемента нажмите на его строку в таблице. Нажмите на <b>"Редактировать"</b>. Измените необходимые данные
	товара в открывшейся форме. Изначально она будет заполнена старыми данными объекта. Для продолжения нажмите "ОК", для отмены - "Отмена".<br />

	&emsp;&emsp;Для удаления элемента нажмите на его строку в таблице. Нажмите на <b>"Удалить"</b>. Подтвердите удаление элемента
	в открывшемся предупреждении, нажав "ОК" или отмените удаление, нажав "Отмена".<br />

</div>
<div>
	<h2>Автоматизация склада гвоздей</h2>

	Я, как кладовщик, должен иметь возможность вести реестр имеющихся товаров. Видеть в реестре следующую информацию:<br />

	<ol type="1">
		<li>Наименование товара</li>
		<li>Размер</li>
		<li>Материал (медь, сталь, железо, хром)</li>
		<li>Количество на складе</li>
		<li>Минимальный предел количества</li>
		<li>Цена (без НДС)</li>
		<li>Общая сумма товара</li>
	</ol>

	Основные действия: добавлять, изменять и удалять позиции в реестре<br />

	Я, как владелец склада, должен иметь возможность видеть общее количество товарных позиций, общую сумму товаров на складе (как с НДС 20%, так и без него)<br />
</div>

